version: 2.1

orbs:
  rn: react-native-community/react-native@1.1.0

jobs:
  checkout_code:
    executor: rn/linux_js
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths: .
  analyse:
    executor: rn/linux_js
    steps:
      - attach_workspace:
          at: .
      - rn/yarn_install
      - run:
          name: Lint JS Code (ESLint)
          command: yarn lint
      - run:
          name: Flow
          command: yarn flow-check

workflows:
  test:
    jobs:
      - checkout_code
      - analyse:
          requires:
            - checkout_code
